// Exports
:root {
	--soda-color-purple: 143, 79, 143;
		
	--soda-color-true-white: 255, 255, 255;
	--soda-color-white: 239, 239, 239;
	--soda-color-less-white: 207, 207, 207;
	
	--soda-color-less-black: 31, 31, 31;
	--soda-color-black: 15, 15, 15;
	--soda-color-true-black: 0, 0, 0;
}
