.soda-flex {
	&-center {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	&-center-align {
		align-items: center;
		display: flex;
	}

	&-center-justify {
		justify-content: center;
	}

	&-column {
		display: flex;
		flex-direction: column;
	}
	
	&-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}