// Mixins
@mixin soda-font-size($size) {
	font-size: $size;
	line-height: $size + 5px;
}

// Exports
@for $size from 1 through 3 {
	.soda-font-#{$size * 5} {
		@include soda-font-size($size * 5px);
	}
}

@for $size from 4 through 10 {
	.soda-font-#{$size * 5} {
		@include soda-font-size($size * 5px);
		font-weight: bold;
	}
}
