// Soda - Cherry @ DmmD GM

// Defines templates
.soda-button {
	background-color: rgba(var(--soda-theme-highlight), 0.25);
	border-radius: 5px;
	cursor: pointer;
	padding: 5px 10px;
	transition: background 0.2s ease;
	
	&:focus-visible, &:hover {
		background-color: rgba(var(--soda-theme-highlight), 0.5);
	}
}

.soda-input {
	background-color: rgba(var(--soda-theme-highlight), 0.25);
	border-radius: 5px;
	padding: 5px 10px;
	transition: background 0.2s ease;

	&:focus-visible, &:hover {
		background-color: rgb(var(--soda-theme-highlight), 0.5);
	}
}

.soda-link {
	color: rgba(var(--soda-theme-accent), 0.75);

	&:focus-visible, &:hover {
		color: rgb(var(--soda-theme-accent));
	}
}

.soda-underline {
	cursor: pointer;
	position: relative;

	&::after {
		background-color: rgb(var(--soda-theme-foreground));
		bottom: -5px;
		content: "";
		height: 3px;
		left: 0%;
		position: absolute;
		transform: scaleX(0);
		transition: transform 0.2s ease;
		width: 100%;
	}

	&:focus-visible::after, &:hover::after {
		transform: scaleX(0.25);
	}
}

*:has(> .soda-droplist) {
	position: relative;
	
	> .soda-droplist {
		display: none;
		flex-direction: column;
		left: 50%;
		position: absolute;
		top: 100%;
		transform: translateX(-50%);
		width: max-content;

		> * {
			@extend .soda-button;
			border-radius: 0px;
			position: relative;

			&:first-child {
				border-radius: 5px 5px 0px 0px;
			}

			&:last-child {
				border-radius: 0px 0px 5px 5px;
			}

			&:only-child {
				border-radius: 5px;
			}

			.soda-droplist {
				left: 100%;
				top: 0%;
				transform: translateX(0%);
			}
		}
	}

	&:focus-within {
		> .soda-droplist {
			display: flex;
		}
	}
}