// Imports
@use "./sodalite.scss";

// Defines reset pattern
* {
	background: none; 
	border: none;
	color: var(--sd-black);
	font: normal normal normal 15px / 20px sans-serif;
	margin: 0px;
	outline: none;
	padding: 0px;
	scrollbar-color: var(--sd-white) var(--sd-black);
	scrollbar-width: thin;
	text-decoration: none;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: var(--sd-white);
}

b {
	font-weight: bold;
}

hr {
	border: 1px solid var(--sd-black);
}

i {
	font-style: italic;
}

u {
	text-decoration: underline;
}
