// Imports
@use "sass:map";
@use "./colors";

// Defines colors
:root {
	@each $color in map.keys(colors.$colors) {
		$data: map.get(colors.$colors, $color);
		@include colors.define(
			$name: map.get($data, "name"),
			$color: $color,
			$lighten: map.get($data, "lighten"),
			$darken: map.get($data, "darken")
		);
	}
}

// Defines reset pattern
html[--sd] {
	height: 100vh;
	width: 100%;

	* {
		background: none; 
		border: none;
		color: var(--sd-black);
		scrollbar-color: var(--sd-white) var(--sd-black);
		font: normal normal normal 15px / 20px sans-serif;
		list-style: none;
		margin: 0px;
		outline: none;
		padding: 0px;
		scrollbar-width: thin;
		text-decoration: none;
	}

	body {
		background-color: var(--sd-white);
		height: 100%;
		width: 100%;
	}

	b {
		font-weight: bold;
	}

	hr {
		border: 1px solid var(--sd-black);
	}

	i {
		font-style: italic;
	}
}
