// Soda - Vanilla @ DmmD GM

// Defines defaults
* {
	background: none; 
	border: none;
	color: rgb(var(--soda-rgb-black));
	font: normal normal normal 15px / 20px sans-serif;
	list-style: none;
	margin: 0px;
	outline: none;
	padding: 0px;
	scrollbar-color: rgb(var(--soda-rgb-white)) rgb(var(--soda-rgb-black));
	scrollbar-gutter: stable both-edges;
	scrollbar-width: thin;
	text-decoration: none;
}

html {
	height: 100vh;
	width: 100%;
}

body {
	background-color: rgb(var(--soda-rgb-white));
	height: 100%;
	width: 100%;
}

// Defines defaults (dark)
html[data-soda-theme-dark] {
	* {
		color: rgb(var(--soda-rgb-white));
		scrollbar-color: rgb(var(--soda-rgb-black)) rgb(var(--soda-rgb-white));
	}
	
	body {
		background-color: rgb(var(--soda-rgb-black));
	}
}